.line {
  width: 100%;
  height: 1px;
}
.fifth {
  background-color: var(--fifth-color);
}

.fourth {
  background-color: var(--fourth-color);
}

.third {
  background-color: var(--third-color);
}

.second {
  background-color: var(--second-color);
}

.first {
  background-color: var(--first-color);
}
