body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --first-color: #006D77;
  --second-color: #83C5BE;
  --third-color: #EDF6F9;
  --fourth-color: #FFDDD2;
  --fifth-color: #E29578;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

*, :after, :before {
  box-sizing: inherit;
}
