.introSlide {
  background-color: var(--third-color);
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;

}

.introContent {
  align-items: center;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  margin: auto;
  max-width: 1200px;
  width: 100%;
}

.titleWrapper {
  margin-top: -40px;
}



.title {
  font-size: 8em;
}

.line {
  height: auto;
  align-self: stretch;
}

.attribute {
  color: var(--fifth-color);
  font-size: 1.5em;
  margin: 0 0 10px;
  text-align: left;
}

.line {
  margin: 10px 0 40px
}
